# node modules
node_modules/

# Firebase 서비스 계정 키
config/serviceAccountKey.json

# 환경 변수 파일
.env

# 로그 파일
*.log

# 운영 도구
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# nodemon
nodemon-debug.log

# 에디터/OS 별 불필요 파일
.DS_Store
*.swp
.vscode/
.idea/
